<p id="notice"><%= notice %></p>

<div class="form">

<%= form_with(model: @user, local: true) do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <h1>Sign Up</h1>
<div class="form-group">
  <%= f.label :Username %> <br>
  <%= f.text_field :Username, placeholder: "Enter Username", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :Fullname %> <br>
  <%= f.text_field :FullName, placeholder: "Enter Fullname", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :Photo %> <br>
  <%= f.file_field :Photo %>
</div>

<div class="form-group">
  <%= f.label :CoverImage %> <br>
  <%= f.file_field :CoverImage %>
</div>

<div class="form-group">
  <%= f.submit "Sign Up", class: "form-control bck-color"%>
</div>

<div class="form-group">
    <%= link_to "Have an Account? Login in", root_path %>
</div>

<% end %>

</div>
