<%= render 'opinions/navs' %>
<div class="main-body">
  <div class="w-100">
    <div class="">

    <% unless @user[:CoverImage].nil? %>
     <%= image_tag @user.CoverImage.standard.url %>
     <% else %>
      <img src="https://via.placeholder.com/650x250" class = "cover" alt="cover">
      <% end %>
      </div>

      <div class="tweet-box card w-80 ml-5 mr-5">

       <p class="ml-5 mt-2">Have an Opinion?</p>

       <%= form_for Opinion.new, url: opinions_path  do |f| %>
            <%= f.text_area :Text, class: "form-control w-75 tweet-head ml-5", placeholder: "Write your Opinion" %>
            <%= f.submit "Post Opinion", class: "btn btn-primary w-25 ml-5 mt-2 mb-2" %>
          <% end %>
        </div>
        <div class="tweet-main mt-3 w-80 ml-5 mr-5 p-3">
            <% Opinion.all.each do |opinion| if opinion.Author == current_user %>
            <div class="d-flex">
              <div class="">
              <% if opinion.Author[:Photo].nil? %>
                <%= user_gravatar opinion.Author %>
              <% else %>
                <%= image_tag opinion.Author.Photo.thumb.url %>
              <% end %>
              </div>
            <div class="ml-3 mt-4">
           <h4><%= opinion.Author.Username %></h4>
            <p><%= opinion.Text %></p>
          </div>
            </div>
            <% end %>
            <% end %>
          </div>
  </div>


  <aside class="profile-aside h-100">
    <div class="d-flex flex-column justify-content-center mt-5">

      <% unless current_user.id == @user.id %>
              <% if current_user.followed.any? { |person| person.Followedid == @user.id }%>
                <%= link_to unfollow_path(@user), method: :delete, class: "font-unfollow-icon" do %>
                  <i class="fas fa-minus-circle fa-2x"></i>
                <% end %>
              <%else%>
                <%= link_to follow_path(@user), class: "font-follow-icon" do %>
                  <i class="fas fa-plus-circle fa-2x"></i>
                <% end %>
              <% end %>
          <% end %>

          <div class="ml-auto mr-auto">
            <% unless @user[:Photo].nil? %>
              <%= image_tag @user.Photo.medium.url, class: "rounded-circle" %>
            <% else %>
              <%= user_gravatar @user %>
            <% end %>
          </div>
        <div class="text-center mt-2">
          <h5><%= @user.FullName %></h5>
          <p>@<%= @user.Username %></p>
        </div>

        <div class="container">
        <div class="row text-center p-2 border">
          <div class="d-flex flex-column border-right">
            <p><%= @user.opinions.size %></p>
            <p class="p-2">Opinions</p>
          </div>

          <div class="d-flex flex-column border-right">
          <p><%= current_user.followers.size %></p>
          <p class="p-2">Followings</p>
          </div>

          <div class="d-flex flex-column">
            <p><%= current_user.followed.size %></p>
            <p class="p-2">Followers</p>
          </div>
        </div>
      </div>
      </div>

      <div class="tweet-main mt-3 p-2">
       <h5 class="tweet-heading">Followed By</h5>

       <% Following.all.each do |follower| %>
       <div class="ml-auto mr-auto">
         <% unless follower.Follower[:Photo].nil? %>
           <%= image_tag follower.Follower.Photo.thumb.url %>
         <% else %>
           <%= user_gravatar follower.Follower %>
         <% end %>
       </div>
     <div class="text-center mt-2">
       <h6><%= @user.FullName %></h6>
     </div>
     <% if current_user.followed.any? { |person| person.Followedid == follower.Follower.id }%>
                  <%= link_to unfollow_path(follower.Follower), method: :delete, class: "follow-icons" do %>
                      <i class="fas fa-minus-circle fa-2x"></i>
                  <% end %>
                <%else%>
                  <%= link_to follow_path(follower.Follower), class: "follow-icons" do %>
                    <i class="fas fa-plus-circle fa-2x"></i>
                  <% end %>
                <% end %>

   </div>
    <% end %>
  </aside>

</div>
